body {
  background-image: url("./Images/woodBackground_table.jpg");
  background-repeat: repeat;
}

#tableMatt {
  background-image: url("./Images/table_Matt_860px.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.bets {
  font-size: 1em;
  width: 30px;
}

#doubloons {
  width: 40px;
}

#Human {
  font-family: "Walter Turncoat", cursive;
  font-weight: 800;
  font-size: 1.5em;
}

#Dealer {
  font-family: "Walter Turncoat", cursive;
  font-weight: 800;
  font-size: 1.5em;
}

.score {
  font-family: "Walter Turncoat", cursive;
  font-weight: 600;
  font-size: 1em;
}

.bets {
  font-family: "Walter Turncoat", cursive;
  font-weight: 800;
  font-size: 1em;
}

.logoAnimate {
  animation-duration: 2s;
  animation-iteration-count: initial;
}
